services:
  db:
    image: postgres:14
    container_name: 'postgres_db'
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    networks:
      - myNetwork

  money_service:
    container_name: 'money_service'
    build:
      context: .
    ports:
      - "7777:8000"
    networks:
      - myNetwork
    env_file:
      - .env
  nginx:
    image: nginx:alpine
    container_name: 'nginx_proxy'
    ports:
      - "8080:80"   
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - myNetwork
    depends_on:
      - money_service
volumes:
  postgres_data:
networks:
  myNetwork:
    external: true